/*
* Fluid Skeleton 
* Based on Skeleton, Dave Gamache
* www.getskeleton.com
* Butchered by Ian Yates
* http://webdesign.tutsplus.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* Flexible Column Widths - mobile first
================================================== */
/* line 15, ../css/fluid_skeleton.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0; }

/* line 16, ../css/fluid_skeleton.scss */
.container .columns,
.container .column {
  float: left;
  display: inline;
  padding-left: 1em;
  padding-right: 1em; }

/* line 19, ../css/fluid_skeleton.scss */
.container .one.column,
.container .one.columns,
.container .two.columns,
.container .three.columns,
.container .four.columns,
.container .five.columns,
.container .six.columns,
.container .seven.columns,
.container .eight.columns,
.container .nine.columns,
.container .ten.columns,
.container .eleven.columns,
.container .twelve.columns,
.container .thirteen.columns,
.container .fourteen.columns,
.container .fifteen.columns,
.container .sixteen.columns,
.container .one-third.column,
.container .two-thirds.column {
  width: 100%; }

/* Offsets */
/* line 40, ../css/fluid_skeleton.scss */
.container .offset-by-one,
.container .offset-by-two,
.container .offset-by-three,
.container .offset-by-four,
.container .offset-by-five,
.container .offset-by-six,
.container .offset-by-seven,
.container .offset-by-eight,
.container .offset-by-nine,
.container .offset-by-ten,
.container .offset-by-eleven,
.container .offset-by-twelve,
.container .offset-by-thirteen,
.container .offset-by-fourteen,
.container .offset-by-fifteen {
  margin-left: 0; }

 /* #getting bigger - breakpoint tablets
================================================== */
@media only screen and (min-width: 480px) {
  /* line 61, ../css/fluid_skeleton.scss */
  .container {
    width: 90%; } }
 /* #getting bigger - breakpoint beyond tablets portrait
================================================== */
@media only screen and (min-width: 767px) {
  /* line 69, ../css/fluid_skeleton.scss */
  .container .columns {
    padding-left: 1em;
    padding-right: 1em; }

  /* line 71, ../css/fluid_skeleton.scss */
  .container .one.columns {
    width: 6.25%; }

  /* line 72, ../css/fluid_skeleton.scss */
  .container .two.columns {
    width: 12.5%; }

  /* line 73, ../css/fluid_skeleton.scss */
  .container .three.columns {
    width: 18.75%; }

  /* line 74, ../css/fluid_skeleton.scss */
  .container .four.columns {
    width: 25%; }

  /* line 75, ../css/fluid_skeleton.scss */
  .container .five.columns {
    width: 31.25%; }

  /* line 76, ../css/fluid_skeleton.scss */
  .container .six.columns {
    width: 37.5%; }

  /* line 77, ../css/fluid_skeleton.scss */
  .container .seven.columns {
    width: 43.75%; }

  /* line 78, ../css/fluid_skeleton.scss */
  .container .eight.columns {
    width: 50%; }

  /* line 79, ../css/fluid_skeleton.scss */
  .container .nine.columns {
    width: 56.25%; }

  /* line 80, ../css/fluid_skeleton.scss */
  .container .ten.columns {
    width: 62.5%; }

  /* line 81, ../css/fluid_skeleton.scss */
  .container .eleven.columns {
    width: 68.75%; }

  /* line 82, ../css/fluid_skeleton.scss */
  .container .twelve.columns {
    width: 75%; }

  /* line 83, ../css/fluid_skeleton.scss */
  .container .thirteen.columns {
    width: 81.25%; }

  /* line 84, ../css/fluid_skeleton.scss */
  .container .fourteen.columns {
    width: 87.5%; }

  /* line 85, ../css/fluid_skeleton.scss */
  .container .fifteen.columns {
    width: 93.75%; }

  /* line 86, ../css/fluid_skeleton.scss */
  .container .sixteen.columns {
    width: 100%; }

  /* line 87, ../css/fluid_skeleton.scss */
  .container .one-third.column {
    width: 33.33%; }

  /* line 88, ../css/fluid_skeleton.scss */
  .container .two-thirds.column {
    width: 66.66%; }

  /* Offsets */
  /* line 91, ../css/fluid_skeleton.scss */
  .container .offset-by-one {
    margin-left: 6.25%; }

  /* line 92, ../css/fluid_skeleton.scss */
  .container .offset-by-two {
    margin-left: 12.5%; }

  /* line 93, ../css/fluid_skeleton.scss */
  .container .offset-by-three {
    margin-left: 18.75%; }

  /* line 94, ../css/fluid_skeleton.scss */
  .container .offset-by-four {
    margin-left: 25%; }

  /* line 95, ../css/fluid_skeleton.scss */
  .container .offset-by-five {
    margin-left: 31.25%; }

  /* line 96, ../css/fluid_skeleton.scss */
  .container .offset-by-six {
    margin-left: 37.5%; }

  /* line 97, ../css/fluid_skeleton.scss */
  .container .offset-by-seven {
    margin-left: 43.75%; }

  /* line 98, ../css/fluid_skeleton.scss */
  .container .offset-by-eight {
    margin-left: 50%; }

  /* line 99, ../css/fluid_skeleton.scss */
  .container .offset-by-nine {
    margin-left: 56.25%; }

  /* line 100, ../css/fluid_skeleton.scss */
  .container .offset-by-ten {
    margin-left: 62.5%; }

  /* line 101, ../css/fluid_skeleton.scss */
  .container .offset-by-eleven {
    margin-left: 68.75%; }

  /* line 102, ../css/fluid_skeleton.scss */
  .container .offset-by-twelve {
    margin-left: 75%; }

  /* line 103, ../css/fluid_skeleton.scss */
  .container .offset-by-thirteen {
    margin-left: 81.25%; }

  /* line 104, ../css/fluid_skeleton.scss */
  .container .offset-by-fourteen {
    margin-left: 87.5%; }

  /* line 105, ../css/fluid_skeleton.scss */
  .container .offset-by-fifteen {
    margin-left: 93.75%; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 115, ../css/fluid_skeleton.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 119, ../css/fluid_skeleton.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 129, ../css/fluid_skeleton.scss */
.row:after,
.clearfix:after {
  clear: both; }

/* line 132, ../css/fluid_skeleton.scss */
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
/* line 137, ../css/fluid_skeleton.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* apply a natural box layout model to all elements */
/* line 149, ../css/fluid_skeleton.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
