body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
}
main {
  flex: 1 0 auto;
}
header{
    color: white;
}
footer{
  padding: 20px;
  min-height :20vh;
  background-color: #FF5252;
}
#cgoup{
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index:10000;
  width: 70px;
  height: 70px;
  bottom:0px;
  right:10px;
}
#cheader{
    width: 100%;
    height: 90vh;
    top: 0;
    position:relative;
    margin-top: 10vh;
    z-index: 9;
    text-align:center;
}
#cmenu{
    width: 100%;
    position:fixed;
    margin-top: 0;
    top:0;
    z-index: 10;
    font-size: 2em;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 2px 5px rgba(0,0,0,0.4)
}
#ccontainer{
    margin-top: 50px;
}
#cheader{
}
#cheader h1 {
  font-size: 6em;
  font-weight: lighter;
}
#cheader p{
  font-size: 2em;
}
#cheadcont{
  height: 90vh;

}
#cmenu .citems{
  float:right;
  width:50vw;
}
#cmenu .citems ul{
  margin-before: 0px;
  margin-after:0px;
  padding-start: 0px;
  -webkit-margin-after:0px;
  -webkit-margin-before: 0px;
  -webkit-padding-start: 0px;
  text-align: right;
  padding: 0.5em;
}
#cmenu .citems li{
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
}
#cmenu .citems li a{
  color: white;
  text-decoration: none;
  padding: 0.5em;
  box-sizing: border-box;
}
#cmenu .citems li a:hover{
  background-color: rgba(187,0,0,0.5);
  color: #333;
  transition: all 0.2s;
}
#cmenu .citems li.active a{
  background-color: rgba(102,102,102,0.5);
  transition: all 0.2s;
  color: #bb0000;
}
#cmenu .citems li.active a:hover{
  background-color: rgba(102,102,102,0.5);
  color: #bb0000;
  transition: all 0.2s;
}
#cmenu .clogo{
  float:left;
  transform: translate(50%,50%);
}
#cmenu .chamburger{
  float: right;
}
.section{
  height:100vh;
  /*border-color: black;
  padding-top: 20vh;
  border:10px;*/
}
@media screen and (max-width: 972px) {
    #cmenu .citems{
      visibility: hidden;
      display: none;
    }
}

@media screen and (min-width: 973px) {
    #cmenu .chamburger{
      visibility: hidden;
      display: none;
    }
}

#cmenu .cdropdown{
  width: 100%;
  position:fixed;
  margin-top: 70px;
  z-index: 900;
  font-size: 0.7em;
  background: rgba(0,0,0,0);
  float:right;
}

#cdropmenu{
  z-index: 900;
  right : 1000px;
}

#cmenu .cdropdown a.item {
  height:30px;
  min-width:50vw;
  background-color: rgba(1, 1, 1, 0.5);
  display: inline-block;
  float: right;
  color: white;
  text-decoration: none;
  padding: 0.7em;
  text-align: center;
}
#cmenu .cdropdown a.item:hover {
  background-color: rgba(1,0,0, 0.5);
}

/*START chamburger menu*/
.chamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.1s;
}

.chamburger:focus {
  outline: none;
}
.chamburger span {
  display: block;
  position: absolute;
  top: 32px;
  left: 15px;
  right: 15px;
  height: 5px;
  background: white;
}

.chamburger span::before,
.chamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}

.chamburger span::before {
  top: -12px;
}

.chamburger span::after {
  bottom: -12px;
}
.chamburger--htx {
  background-color: rgba(187,0,0,0.5);
}

.chamburger--htx span {
  transition: background 0s 0.1s;
}

.chamburger--htx span::before,
.chamburger--htx span::after {
  transition-duration: 0.1s, 0.1s;
  transition-delay: 0.1s, 0s;
}

.chamburger--htx span::before {
  transition-property: top, transform;
}

.chamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.chamburger--htx.is-active {
  background-color: rgba(102,102,102,0.5);
}

.chamburger--htx.is-active span {
  background: none;
}

.chamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.chamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.chamburger--htx.is-active span::before,
.chamburger--htx.is-active span::after {
  transition-delay: 0s, 0.1s;
}
/*END chamburger */
