body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
}
main {
  flex: 1 0 auto;
}
header{
    background-image: url(../images/back01.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
}
#cheader{
    width: 100%;
    height: 90vh;
    top: 0;
    position:relative;
    margin-top: 10vh;
    z-index: 998;
    text-align:center;
}
#cmenu{
    width: 100%;
    height: 10vh;
    position:fixed;
    margin-top: 0;
    top:0;
    z-index: 999;
    font-size: 2em;
    background: rgba(0,0,0,0.5);
}
#ccontainer{
    margin-top: 50px;
}
footer{
  min-height0vh;:20vh;
  background-color: red;
}
#cheader h1 {
  font-size: 6em;
  font-weight: lighter;
}
#cheader p{
  font-size: 2em;
}
#cheadcont{
  display: table-cell;
  height: 90vh;
  vertical-align: middle;
}
