/*media imports for larger screens*/

@media only screen and (max-width: 778px) {
  /*.headerDiv {
    display: none;
  }*/
  .circular{
    display: none;
  }
}
@media only screen and (min-width: 778px) {
  .headerDiv {
    margin-left: 310px;
  }
}
@media only screen and (max-width: 778px) {
  .headerDiv {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 622px) {
  header{
    height:56vw;
  }
}
@media only screen and (max-width: 422px) {
  .headerTiles{
    display: none;
  }
}
@media only screen and (min-width: 622px) {
  header{
    height: 350px;
  }
}
header{
    color: white;
    padding: 5% 0 5% 0;
}
.circular {
  width: 270px;
  height: 270px;
  border-radius: 270px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-style: solid;
  border-width: 5px;
  border-color: #979797;/*scarlet #9C0606;*/
  background: url(../images/cyriac.jpg) no-repeat;
  float: left;
  box-shadow: 3px 3px 10px black;
  background-size:100%;
  position: absolute;
}
