body {
  /* The image used */
  background-image: url("diwali_1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
img.profile{
  max-width: 100%;
  max-height: 600px;
  object-fit: cover;
}
.sticky-profile
{
  float:right;
  height: 250px;
  width:250px; 
  padding:3px; 
  display: none;
}
div.profile-content
{
  height:224px;
  overflow:auto;
  background:#fff;
}