#calculator {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

th, td {
    overflow: hidden;
    width: 100%;
}

input {
    text-align: right;
    width: 99%
}

input[type="button"] {
  width: 100%;
  text-align: center;
  padding:10px;
  background:#90CAF9;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;

}
 div {
   width: 70%;
   margin: 0 auto;
   margin-top: 10%
 }
