<footer class="band main">

    <hr>

    <div class="container">

        <div class="columns eight">

        </div><!--/ column-->

        <div class="columns eight last">

        </div><!--/ column-->

    </div><!--/ container-->

</footer><!--/ main-->
