<header>
  <nav class="deep-orange accent-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Web 1</a>
      <ul id="nav-mobile" class="right hide-on-small-and-down">
        <li><a href="https://github.com/cyriacd/cyriacd.github.io">Code on GitHub</a></li>
      </ul>
    </div>
  </nav>
</header><!--/ band
<script>
  //Array of images which you want to show: Use path you want.
  var images=new Array('Assets/BGImages/head_sandwichman1.jpg','Assets/BGImages/head_sandwichman2.jpg','Assets/BGImages/head_sandwichman3.jpg');
  var nextimage=0;
  doSlideshow();

  function doSlideshow(){
   if(nextimage>=images.length){nextimage=0;}
   $('.global-header')
   document.getElementById("header").style.backgroundImage = 'url("'+images[nextimage++]+'")';

  }
</script>-->
<script type="text/javascript" src="js/headerSlideshow.js"></script>
